	*{
		margin: 0%;
	}
	.home_div{
		justify-content: center;
		display: flex;
		background-color: whitesmoke;
		width: 100%;
	}
	.navigation {
    	width:100%;
    	background-color:#5042eb;
        padding:5px;
    	}
    
    #anc{
    	color:white; 
        font-size:20px;
        text-decoration:none;
        margin-right:50px;
    	}
	#anc:hover{
			color:black;
			background: aquamarine;
			padding:10px;
			border-radius:50%;
		}
	#anc:active{
		background-color: red;
		color: black;
		padding:10px;
		border-radius:50%;
	}
	body{
		background-image:url("Image 2.jpg");
		background-repeat:no-repeat;
		background-size:cover;
		background-attachment: fixed;
		}
	#home_headings{
			color: black;
			font-size:20px;
			font-weight:bolder;
			margin-top: 8%;
			margin-left: 9%;
		}
	.home_head{
		display: inline-block;
	}
	#home_logo{
			border-radius: 50%;
			width: 30px;
			height: 30px;
		}
		#kap{
			width:500px;
			height:300px;
		}
		
		#cap{
			width:200px;
			height:300px;
		}
	p{
		color: white;
		text-align:justify;
	}
	h1,h3,h2,h4{
					color:yellow;
        }
	.player-profile{
			margin-bottom: 5px;
			font-size: 15px;
			color:white;
			}
		
	.player-name{
			color:aqua;
			}
	.demo-div{
			display:inline-block;
		}
	#official_web{
		color: #e8d279;
		font-size: 15px;
		text-decoration: none;
	}
	#official_web:hover{
		background-color: rebeccapurple;
		padding:10px;
		border-radius:50%;
	}
	.ipl_teams,th,td{
		color: white;
		border: 2px groove wheat;
		border-collapse: collapse;
		padding: 25px;
	}
	#team{
		color: white;
		text-decoration: none;
	}
	#team:hover{
		background-color: aqua;
		color: black;
		text-decoration: underline;
		padding:10px;
		border-radius:50%;
	}
	#team:active{
		background-color: red;
		color: black;
		text-decoration: underline;
		padding:10px;
		border-radius:50%;
	}
	#captain{
		color: white;
		text-decoration: none;
	}
	#captain:hover{
		background-color: aqua;
		color: black;
		text-decoration: underline;
		padding:10px;
		border-radius:50%;
	}
	#captain:active{
		background-color: red;
		color: black;
		text-decoration: underline;
		padding:10px;
		border-radius:50%;
	}
	#coach{
		color: white;
		text-decoration: none;
	}
	#coach:hover{
		background-color: aqua;
		color: black;
		text-decoration: underline;
		padding:10px;
		border-radius:50%;
	}
	#coach:active{
		background-color: red;
		color: black;
		text-decoration: underline;
		padding:10px;
		border-radius:50%;
	}
	#wc_main_heading{
		color: black;
		border-bottom: dotted;
	}
	#wcw{
		color: yellow;
		text-decoration: none;
	}
	#wcw:hover{
		background-color: aqua;
		color: black;
		text-decoration: underline;
		padding:10px;
		border-radius:50%;
	}
	#wcw:active{
		background-color: red;
		color: black;
		text-decoration: underline;
		padding: 10px;
		border-radius: 50%;
	}
	.wc_body{
		background-image: url("wc_background_trophy.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	#wc_h2{
		color: black;
	}
	#wc_p{
		color: rgb(52, 52, 3);
		font-weight: bold;
		font-size: 15px;
	}
	#wc_list_anchor{
		text-decoration: none;
		color: black;
	}
	#wc_list_anchor:hover{
		background-color: aqua;
		color: black;
		padding:10px;
		border-radius:50%;
	}
	#wc_list_anchor:active{
		background-color: red;
		color: black;
		text-decoration: underline;
		padding: 10px;
		border-radius: 50%;
	}
	#wc_em:hover{
		background-color: yellow;
		color: black;
		padding:10px;
		border-radius:50%;
	}
	.wc_image{
		width: 100%;
	}
	.wc_image_div{
		margin: auto;
		width: 50%;
	}
	#contact_body{
		background-image: url("Free Vector _ Abstract background of india.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
	.contact_div{
		background-color: #e8d279;
		width: cover;
		padding: 50px;
		margin-top: 100px;
	}
	#contact_heading{
		color:black;
		background: aquamarine;
		padding:10px;
		border-radius:50%;
	}
	#contact_heading:hover{
		background-color: #e8d279;
	}
	.contact_form{
		font-size: 20px;
	}
	#form_input{
		width: 300px;
		height: 30px;
	}
				@media screen and (max-width:360px) {
				.navigation #anc{
					font-size: 10px;
					margin-right: 2%;
				}
				#home_logo{
					width: 25px;
    				height: 25px;
    				margin-top: 5%;
				}
				#home_headings{
					margin-top: 16%;
    				margin-left: 11%;
    				font-size: 14px;
				}
			}